<li id="comment-<%= comment.id %>">
  <p class="user"><i>	<%= comment.user.first_name + ' ' +  comment.user.last_name %> &bull;</i> <span class="timestamp">
      Posted <%= time_ago_in_words(comment.created_at) %> ago.
    </span>
    <p>
      <p><span class="content"><%= comment.comment %></span>
      </p>
      <% if comment.user == current_user %>
        <p><%= button_to 'Delete comment', post_comment_path(comment.post, comment), method: :delete, data: { turbo_confirm: 'Are you sure?' } %></p>
      <% end %>
    </li>
